* {
    box-sizing: border-box;
}

:root {
    --dark-blue: #111522;
    --dark-gray: #414245;
    --dark-gray-transparent: #41424587;
    --primary: #2F3C7E;
    --secondary: #FBEAEB;
    --light-primary: #7e86b3;
    --testing: #7ed6d6;
}

#background {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: -2;
}
/* laptop start*/
#laptop {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
}
#laptop-screen {
    background-image: linear-gradient(var(--primary), var(--secondary));
    z-index: 0;
    display: flex;
    position: absolute;
    flex-direction: column;
    aspect-ratio: 16/9;
    border: 3px solid black;
    border-top: 9px solid black;
    border-bottom: 9px solid black;
    border-radius: 7px 7px 0 0;
}

#laptop-body {
    background-image: linear-gradient( rgb(27, 27, 27) 20%, black 80%);
    position: absolute;
    bottom: 0;
    box-shadow: 0px 3px 2px gray;
}

#stand {
    position: absolute;
    height: 20px;
    width: 4%;
    background-color: black;
    z-index: -1;
    bottom: 0;
    box-shadow: 0px 3px 2px gray;
}
/* laptop end*/
/* browser start */
#browser {
    margin: -0.7px;
    z-index: -1;
}
/* tabs start */
.tabs, .bar, #address-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
}
.tabs {  
    background-image: url(space-background.jpg);
}
#tab-1 {
    background-color: var(--dark-gray-transparent);
}
#tab-2 {    
    background-color: var(--dark-gray-transparent);
}
#close {
    position: absolute;
}
/*tabs end */
#bar {
    position: absolute;
    background-color: var(--tab);
    top: 50%;
    width: 100%;
    height: 50%;
}
/*left start*/
#left-icons {
    position: absolute;
    background-color: gray;
    width: 15%;
    height: 100%;
}

/*left end*/
/* browser end */
#quote-generator {
    padding-top: 10%;
}

@media (max-width:600px) {
    #laptop {
        width: 450px;
        top: 50vh;
    }
}

@media (min-width:600px) {
    #tab-1, #tab-2 {
        border-radius: 11px 11px 0 0;
    }
    #tab-1 span, #tab-2 span {
        font-size: 90%;
        top: 15%;
        left: 9%;
    }
}